
    <form class="formGet" method="get" action="/showTime">
        <input type="date" id="start" name="tripStart"
            value="2022-09-22"
            min="2022-09-01" max="2023-09-21">
        <input type="time" id="appt" name="appt" value="00:00">
        <button type="submit">Submit</button>
    </form>